*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: chicken;
    src: url(./fontes/ChickenQuiche.otf);
}

.inicioBeT{
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.titBeT{
    font-family: chicken;
    font-size: 55px;
}

.containerBeT{
    display:flex;
    flex-direction: row;
    width: 98vw;
    height: 100vh;
}

.subboxBeT{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.subboxBeT2{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.subboxBeT3{
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

.boxBeT{
    font-size:20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 37vw;
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
}

.boxBeT select, .boxBeT input[type=text], .boxBeT input[type=time], .boxBeT input[type=date]{
    font-size: 15px;
    padding: 3px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 15px;
    width: 20vw;
    height: 4vh;
    box-shadow: 5px 5px 5px gray;
}

.boxBeT input[type=checkbox]{
    width: 4vw;
    height: 4vh;
    border: 5px black solid;
}

.dsformulariosBeT{
    height: 55vh;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: flex-end;
}

.formulariosBeT{
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ana input {
    background-color: white;
    font-size: 19px;
    padding: 7px;
    border:1px solid black;
    border-radius: 20px;
    width: 12vw;
    height: 6vh;
}

button{
    background-color: white;
    font-size: 16px;
    border:2px solid black;
    border-radius: 15px;
    width: 8vw;
    height: 5vh;
    font-weight: bold;
}

button:hover{
    box-shadow: 5px 5px 5px gray;
    cursor: pointer;
    border: goldenrod solid 2px;
}