*{
    margin: 0px;
    box-sizing: border-box;
}

.corpo{
    background-color:#f5554a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.baixo{
    box-shadow:1px 1px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 80vh;
    font-size: x-large;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}








.table,tr,th,td{
border: 1px solid black;
}

.table,th,td{
    padding: 7px;
}