*{
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: chicken;
    src: url(./fontes/ChickenQuiche.otf);
}

.corp{
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.til{
    font-family: chicken;
    font-size: 55px;
}

.mini{
    box-shadow:1px 1px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 80vh;
    font-size: x-large;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}

.formcheck{
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
}

.loc{
    width: 25vw;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-between;
}

.form-check-input{
    height: 20px;
    width: 20px;
}

.cai{
width: 60vw;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.hor{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.su{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.bai{
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.su > input{
    width: 20;
}

.but > button{
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    background-color:#7daf42;
    border: 0%;
}
