*{
    margin: 0px;
    box-sizing: border-box;
}

.corp{
    background-color:#f5554a;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.mini{
    box-shadow:1px 1px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 80vh;
    font-size: x-large;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
}



.cai{
width: 60vw;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.hor{
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.su{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}

.bai{
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.su > input{
    width: 20;
}

.but > button{
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    background-color:#7daf42;
    border: 0%;
}
